$bg-color-main-body: lightblue;
$bg-color-main-panel: lightblue;
$fg-color-location: maroon;
$fg-color-sign: gold;

@mixin flex-settings {

  .main-panel {
    padding: 20px;
    background: $bg-color-main-panel;
    border-radius: 10px;
    border: 1px solid white;
    line-height: 1.4;
  }

  .header,
  .footer {
    padding: 20px 0 20px 0;
  }

  .loc-field {
    flex-grow: 1;

    input[type="text"] {
      width: 90%;
    }
  }

  .base-units {
    min-width: 80px;
    flex-grow: 0;
  }

  .left-panel,
  .right-panel {
    min-height: 150px;
    flex-direction: column;
  }

  .left-panel {
    width: 70%;
    align-content: left;
    align-items: left;
    text-align: left;
  }

  .right-panel {
    width: 30%;
    align-content: right;
    align-items: right;
    text-align: right;
  }
  
  .right-top {
    width: 100%;
  }

  .right-bottom {
    width: 100%;
    font-size: 16pt;
    line-height: 1.1;
  }

  .title,
  .controls {
    width: 100%;
    text-align: center;
  }
}
