@import "_base";

* {
	font-family: "Roboto", sans-serif;
	font-stretch: ultra-condensed;
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	&.center {
		justify-content: center;
		align-items: center;
	}
}

body {
	background: $bg-color-main-body;
}

@media screen and (max-width: 480px) {
	.flex-container {
		width: 480px;
	}
	@include flex-settings;
}

@media screen and (min-width: 481px) {
	.flex-container {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	@include flex-settings;
}

.temperature {
	font-size: 50pt;
}

.add-temp {
	font-size: 18pt;
}

.temp-min {
	color: darkblue;
}

.temp-max {
	color: crimson;
}

.location {
	font-size: 18pt;
	color: $fg-color-location;
}

.humidity-icon {
	width: 24px;
	height: 24px;
}

.fa-star,
.fa-history {
	color: $fg-color-sign;
}

.fa-times-circle {
	color: red;
}

.btn {
	font-size: 14pt;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	background: $bg-color-main-body;
	padding: 10px;
}

.wide {
	width: 140px;
}